@import "tailwindcss";
@import "@fontsource/unifontex";
@import "@fontsource/silkscreen";

html[data-theme="dark"] {
  --display-when-light: 1;
  --display-when-dark: 0;
}
html[data-theme="light"] {
  --display-when-light: 0;
  --display-when-dark: 1;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-unifontex: "UnifontEX", monospace;
  --font-title: "Silkscreen", monospace;
  --breakpoint-xs: 23rem;
}

@layer base {
  body {
    @apply min-h-screen flex flex-col bg-slate-200 text-slate-800 dark:bg-slate-800 dark:text-slate-200 font-unifontex leading-[1.6] text-lg max-md:px-4 transition-colors duration-700 ease-in-out;
  }

  header,
  main,
  footer {
    @apply mx-auto max-w-2xl w-full py-8;
  }

  section {
    @apply space-y-2;
  }

  h1,
  h2 {
    @apply font-title font-normal leading-[0.75];
  }
  h1 {
    @apply max-xs:break-all text-6xl sm:text-7xl md:text-8xl mx-auto mb-8 xs:text-pretty;
  }

  h2 {
    @apply text-xl font-normal text-pink-600 dark:text-pink-400 mb-8 mt-16;
  }
}

@layer components {
  .basic-link {
    @apply underline text-pink-600 dark:text-pink-400 hover:text-pink-800 dark:hover:text-pink-200  transition-all duration-300 ease-in-out;
  }
  .theme-toggle {
    @apply border border-slate-300 dark:border-slate-700 cursor-pointer rounded p-1 w-10 aspect-square hover:bg-slate-300 dark:hover:bg-slate-700 transition-all duration-700 ease-in-out;
  }
  .link {
    @apply pb-2 block border-b dark:hover:border-pink-400 hover:border-pink-600 border-slate-500 dark:bg-slate-800 dark:border-slate-700 h-full hover:[&>h3]:text-pink-600 dark:hover:[&>h3]:text-pink-400 transition-all duration-700 ease-in-out;

    > h3 {
      @apply mb-1 text-xl font-bold text-slate-900 dark:text-white;
    }
  }

  .chip-list {
    @apply flex items-center gap-2 overflow-scroll;
    > li {
      @apply dark:bg-pink-100 bg-pink-600 dark:text-slate-700 text-white px-3 text-sm rounded-full;
    }
  }
}
