@import "tailwindcss";
@import "@fontsource/unifontex";
@import "@fontsource/silkscreen";

html[data-theme="dark"] {
  --display-when-light: 1;
  --display-when-dark: 0;
}
html[data-theme="light"] {
  --display-when-light: 0;
  --display-when-dark: 1;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-unifontex: "UnifontEX", monospace;
  --font-title: "Silkscreen", monospace;
  --breakpoint-xs: 23rem;
}
